*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.uni-container{
  width: 100%;
  max-width: 80%;
  min-width: 80%;
  margin: 0 auto;
}


/* ************************Header CSS************************** */
.header00{
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right{
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.header-right p{
  font-size: 15px;
  font-weight: 300;
  color: #DFB94C;
  letter-spacing: 2px;
  cursor: pointer;
}

.header00 img{
  width: 120px;
}

.header00 i{
  color: #DFB94C;
  font-size:20px;
  cursor: pointer;
}