*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul a{
  text-decoration: none;
  color: #DFB94C;
}

.uni-container{
  width: 100%;
  max-width: 80%;
  min-width: 80%;
  margin: 0 auto;
}


/* ************************Header CSS************************** */
.header00{
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right{
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.header-right p{
  font-size: 15px;
  font-weight: 300;
  color: #DFB94C;
  letter-spacing: 3px;
  cursor: pointer;
}

.header00 img{
  width: 120px;
}

.header00 i{
  color: #DFB94C;
  font-size:20px;
  cursor: pointer;
}

/* *********************Sidebar CSS******************** */


 /* Hide checkbox */
 #menu-toggle {
  display: none;
}

.sidebar-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-header h2{
  font-weight: 400;
  font-size: 23px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background: white;
  color: #DFB94C;
  padding: 40px 20px;
  transition: 0.3s;
}
.sidebar ul{
  margin-top: 40px;
}

.sidebar li{
  list-style-type: none;
  padding: 10px 0px;
  font-weight: 350;
  text-transform: uppercase;
  cursor: pointer;
}

/* When checkbox is checked, show sidebar */
#menu-toggle:checked + .sidebar {
  right: 0;
}

.sidebar-close-btn{
  padding: 0px 5px;
  border: none;
  color: #FFF;
  background-color: #ccc;
  border-radius: 5px;
  cursor: pointer;
}


/* ******************footer CSS****************** */

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.footer p{
  color: #DFB94C;
  font-weight: 400;
  font-size: 13px;
}
.footer-icons{
  display: flex;
  column-gap: 20px;
}
.footer-icons i{
  font-size: 15px;
  color: #DFB94C;

}