.uni-container{
  width: 100%;
  max-width: 80%;
  min-width: 80%;
  margin: 0 auto;
}

.founder-header{
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right{
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.header-right p{
  font-size: 20px;
  color: rgb(248, 191, 118);
}

.founder-header img{
  width: 120px;
}