.about_video_div{
    width: 100%;
    max-width: 50%;
    min-width: 50%;
    height: 220px;
    margin-inline: auto;
    margin-top: 30px;
}
.about_video_div video{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}
.arterra-about-txt{
    margin-top: 10px;
}
.arterra-about-txt p{
    color: #DFB94C;

}
.arterra-about-txt ul{
    margin-top: 5px;
    padding-left: 20px;
}
.arterra-about-txt li{
    color:#a5a4a4;
    margin-top: 5px;
}
@media(max-width:900px){
    .about_video_div{
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        height: 220px;
        margin-inline: auto;
        margin-top: 30px;
    } 
}
@media(max-width:499px){
    .about_video_div video{
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: contain;
    }
}